section.image-detail {
  align-items: stretch;
  align-content: center;
  justify-content: center;
  flex-direction: column;
}
section.image-detail article {
  height: 100%;
  background-color: white;
  button {
    content: " ";
    background-image: url('/assets/images/icons/close.svg');
    background-size: contain;
    background-repeat: no-repeat;
    background-color: white;
    border: none;
    outline: none;
    height: 10vmin;
    width: 10vmin;
    float: right;
    margin-right: 1vmin;
  }
  figure{
    clear:both;
    width: 100vmin;
    max-height: 70vmax;
    margin: 5rem 0 0 0;
    img {
      max-height: 50vmax;
      max-width: 70vmin;
    }
  }
  summary {
    padding: 5vmin 15vmin;
    h1 {
      font-size: 7vmin;
      span {
        font-size: 50%;
        font-style: italic;
        margin-left: .5rem;
      }
    }
    h2 {
      font-size:3.5vmin;
      font-style: italic;
    }
  }

}
