.wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    overflow: hidden;
    & > nav,
    & > section {
      align-self: flex-start;
    }
}

.wrapper nav {
    order: 0;
    display: flex;
    h1 {
      text-transform: lowercase;
      a {
        color: black;
        text-decoration: none;
      }
    }
}

.menu {
  li {
    font-size: 1.3rem;
    margin-left: .2rem;
  }
}

.wrapper section {
    order: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
    &.image-detail {
      position: relative;
      flex-direction: column;
      align-items: flex-start;
      justify-content: flex-start;
      background-color: white;
      button {
        content: " ";
        background-image: url('/assets/images/icons/close.svg');
        background-size: contain;
        background-repeat: no-repeat;
        background-color: white;
        border: none;
        outline: none;
        height: 10vmin;
        width: 10vmin;
        position: absolute;
        right: 1vmin;
        top: 0;
      }
      article {
        margin-top:15vmin;
        margin-bottom: 1vmin;
      }
      h1 {
        font-size: 8vmin;
        span {
          font-size: 40%;
          font-style: italic;
          margin-left: .5rem;
        }
      }
      h2 {
        font-size:4vmin;
        font-style: italic;
      }
    }
}

section figure {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}
