.wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    overflow: hidden;
    & > nav,
    & > section {
      align-self: flex-start;
    }
}

.wrapper nav {
    order: 0;
    display: flex;
    h1 {
      text-transform: lowercase;
    }
}

.menu {
  li {
    font-size: 1.3rem;
    margin-left: .2rem;
  }
}

.wrapper section {
    order: 1;
    overflow-y: scroll;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: flex-start;
    align-items: center;
}

section article {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    background-color: white;
}
