.wrapper {
    flex-direction: column;
    & > nav,
    & > section {
        width: 100vw;
    }
}

.wrapper nav {
  .mobile-nav;
  padding-left: 5vw;
  h1 {
      font-size: 5vh;
      margin-top: 2.5vh;
  }
  .menu {
    width: 70vw;
    button {
      height: 5vh;
      width: 6vh;
      left: -6vh;
      top: 1rem;
    }
    &.closed {
     right: -70vw;
    }
  }
}

.wrapper section {
    flex: 5;
}

section figure {
  .mobileGridStyles;
  margin: 0rem 0rem 3rem 0rem;
}
