.wrapper {
    flex-direction: column;
    & > nav,
    & > section {
        width: 100vw;
    }
}

.wrapper nav {
  .mobile-nav;
  .menu {
    button {
      height: 8vh;
      width: 10vh;
      left: -10vmin;
      top: 1vmin;
    }
  }
}

.wrapper section {
    flex: 5;
}

section article {
    width: 50vmax;
    height: 50vmax;
    margin: 1rem 0 2rem 0;

    & img {
        max-height: 50vmax;
        max-width: 50vmax;
    }
}
