.wrapper {
    display: flex;
    flex-wrap: nowrap;
    height: 100vh;
    overflow: hidden;

    & > nav,
    & > section {
        background-color: green;
        align-self: flex-start;
        padding: 1rem;
    }
}
