.wrapper {
    flex-direction: column;
    & > nav,
    & > section {
        width: 100vw;
    }
}

.wrapper nav {
  .mobile-nav;
  padding-left: 5vh;
  h1 {
      font-size: 5vw;
      padding-top:2.5vmax;
  }
  .menu {
    width: 70vh;
    button {
      height: 8vh;
      width: 10vh;
      left: -10vh;
      top: 2.5vmax;
    }
    &.closed {
     right: -70vh;
    }
  }
}

.wrapper section {
    flex: 5;
}

section figure {
  .mobileGridStyles;
  margin: 0rem 0rem 3rem 0rem;
}
