/* Typography */
@font-family-sans-serif: 'Raleway', Helvetica, Arial, sans-serif;
@headings-font-family: 'Raleway', Helvetica, Arial, sans-serif;

html, body {height: 100%;}

html {
  font-family: @font-family-sans-serif;
}

h1 {
  font-size: 1.7rem;
}

/* Mixins */
.responsive(@maxWidth; @rules) {
    @media only screen and (max-width: @maxWidth) {
        @rules();
    }
}
